*{
    box-sizing:border-box;
    margin:0;
    padding:0;
  }

  html {
    background-image: linear-gradient(0deg, rgba(19, 18, 18, 0.5), rgba(26, 25, 25, 0.5)), url(imgs/showcase.jpg);
    min-height: 100%;
  }

  body {
    font-family: 'Raleway',sans-serif;
    color: #fff;
    line-height: 1.8rem;
  }

  a {
    text-decoration: none;
  }

  .container {
    margin: 30px auto;
    max-width:600px;
    padding: 20px;
  }

  .form-wrap {
    padding: 15px 25px;
    color: rgb(247, 243, 243);
    width: 100%;
  }

  .form-wrap h1,
  .form-wrap p  a {
    text-align: center;
    color: rgb(252, 86, 9);
  }

  .form-wrap .form-group {
    margin-top: 25px;
  }


  .form-group .details {
    display: block;
  }

  .form-group .input{
    width: 100%;
    padding: 10px;
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;

  }

  .form-group .input::placeholder {
    color: rgba(245, 198, 177, 0.5);
  }

  .contact-form .btn {
    margin-top: 20px;
    border-radius:20px;
    padding: 10px;
    width: 25%;
    display: block;
    align-self: center;
    outline: none;
    background-color: rgb(27, 27, 27);
    color:   rgb(245, 198, 177, 0.5);
    border: 1px solid  rgb(245, 198, 177, 0.5);
    font-size: 15px;
  }

 /* .form-wrap button {
    display: block;
    width: 10%;
    display: inline-block;
    padding: 5px;
    margin-top: 20px;
    color: #fff;
    background: #fd570a;
    cursor: pointer;
    border: none;
  } */

  .form-wrap button:hover {
    background: rgb(184, 51, 3)
  }

  .container .contact-list {
    background-color: rgb(27, 27, 27);
    padding: 15px 25px;
    color: #333;
  }

  .contact-list {
      overflow-y:scroll;
      color:  rgb(27, 27, 27);
      max-height: 300px;
  }

  .contact-list .title {
    text-align: center;
    color: rgb(252, 86, 9);
  }

  .contact-list .list {
    font-size: 15px;
    color:rgba(245, 198, 177, 0.5);
    font-size: 18px;
  }

  .list .list-btn {
    margin-left: 12px;
    width: 13%;
    display: inline-block;
    padding: 3px;
    margin-top: 20px;
    color: #fff;
    background: #fd570a;
    cursor: pointer;
    border: none;  
  }

li {
  color:rgba(230, 78, 7, 0.9);
}



